<script src="vendor/jquery.js"></script>
<script src="vendor/firebase.js"></script>
<script src="vendor/firebase-simple-login.js"></script>
<script src="vendor/angular.js"></script>
<script src="vendor/sha256.js"></script>
<script src="background.js"></script>

