body {
    font-family: 'Lucida Grande', Arial, sans-serif;
}

ul {
    margin: 0;
    list-style-type: none;
    -webkit-margin-before: 0;
    -webkit-padding-start: 0;
}

a {
    outline: none;
    white-space: nowrap;
}

#buttons button {
    display: block;
    width: 100%;
    outline: 0;
}

