<html ng-app>
<head>
    <link rel="stylesheet" href="popup.css" />
</head>
<body ng-controller="PopupCtrl">
    <div id="buttons">
        testing:{{hideMessage}}
        hasArtifacts:{{hasArtifacts}}
        <button ng-click="toggleHideArtifacts()">Hide the feeds :-(</button>
        <button ng-click="newScrawl()">Scrawl</button>
        <button ng-click="toggleInspect()">
            <span ng-hide="inspecting">Start Inspecting</span>
            <span ng-show="inspecting">Stop Inspecting</span>
        </button>
        <div>
            <form ng-submit="signIn(email, password)">
                <input type="text" ng-model="email" placeholder="email" />
                <input type="password" ng-model="password" placeholder="password" />
                <button type="submit">Sign In</button>
            </form>
        </div>

    </div>
    <script src="vendor/angular.js"></script>
    <script src="util.js"></script>
    <script src="popup.js"></script>
</body>
</html>
