#sf-placeholder {
    position: absolute;
    outline: 1px dashed blue;
}

#sf-glass {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    display: none;
}

.sf-artifact {
    position: absolute;
    cursor: crosshair;
    display: block;
    -webkit-transition: opacity .3s ease-out;
}

.hiddenArtifact {
    opacity: 0;
    height: auto;
}

.sf-artifact canvas {
    position: absolute;
    top: 0;
    left 0;
}

.sf-artifact.painting {
    cursor: crosshair;
}

.sf-artifact.inspecting {
    outline: 4px solid green;
}

#sf-menu li:hover {
    cursor: pointer;
    color: blue;
}

#sf-menu h4 {
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 0 0 .75em 0;
}

#sf-brush-width {
    margin: 0;
    padding: 0;
}

#sf-brush-width li {
    display: inline;
    list-style-type: none;
    margin: 0 4px 4px 0;
}
#sf-brush-width div {
    display: inline-block;
    border-radius: 50%;
    background-color: black;
}

#sf-brush-width .selected,
#sf-colors .selected {
    outline: 1px solid blue;
}

#sf-colors ul {
    padding: 0;
    margin: 0;
}

#sf-colors li {
    float: left;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px 5px 0;
    border: 1px solid black;
}

.sf-close{
    border: none;
    background: no-repeat url("https://d17w7ldw5x6lbp.cloudfront.net/image-resizer/?/20/http://cdn2.iconfinder.com/data/icons/perfect-flat-icons-2/64/Close_delete_remove_exit_cross_x_button_error.png") 0 0;
    height:20px;
    width:20px;
}

#sf-menu {
    position: fixed;
    top: -160px;
    left: 0;
    right: 0;
    height: 150px;
    z-index: 10000;
    background: #aaa;
    overflow: auto;
    transition: top .25s ease;
}
#sf-menu.sf-inspecting {
    top: 0;
}

.sf-inspecting .sf-artifact {
    outline: 1px solid red;
    cursor: crosshair;
}

.sf-emailform-mask {
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    margin:0;
    padding:0;
    z-index: 50000;
    height:100%;
    width:100%;
    overflow: auto; /* or overflow:auto; if you want scrollbars */
}
.sf-emailform {
    width: 500px;
    left:0px;
    right:0;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    position: absolute;
    background-color: rgba(255, 255, 255, 1);
    border:1px solid;
    border-radius:8px;
    z-index: 50001;
    overflow: auto; /* or overflow:auto; if you want scrollbars */
}

.sf-emailform ul{
    padding: 0;
    list-style-type: none;
}