<div id="stickyfeeds-root" ng-controller="MainCtrl" ng-class="{ 'sf-inspecting': $root.inspecting }">
    
    <div ng-controller="ArtifactCtrl">
        <artifact model="a" ng-repeat="(name, a) in artifacts" />
    </div>

    <div title="Instructions" class="sf-instructions" style="display: none"><p>Drag to select an area to ruin</div>

    <palette id="sf-menu" />

    <emailform />

    <placeholder />

</div>

