<div class="sf-emailform-mask" ng-show="$root.shareDialog">
    <div class="sf-emailform">
        <div style="text-alight:left">
            <button ng-click="$root.shareDialog = false" class="sf-close"></button>
        </div>
        <div style="text-align:center">
            <h1>Share this page via email:</h1>

            <ul>
                <li><input style="width: 300px;" type="text" ng-model="sender" placeholder="Your email address" /></li>
                <li><textarea rows="3" style="width: 300px;"  type="text" ng-model="recipients" placeholder="recipient email addresses" ></textarea></li>
                <li></li><button ng-click="sendEmail()">Send</button></li>
            </ul>
        </div>

    </div>
</div>

