<nav ng-class="{ 'sf-inspecting': $root.inspecting }">
    <button ng-click="$root.inspecting = false" class="sf-close"></button>
    <button ng-click="drag()" class="sf-draggable">Make draggable</button>
    <h4>Line Width</h4>
    <ul id="sf-brush-width">
        <li ng-repeat="w in BRUSH_WIDTHS" ng-class="{ selected: brushWidth == w }" ng-click="setBrushWidth(w)"><div style="height: {{ w }}px; width: {{ w }}px;">&nbsp;</div></li>
    </ul>
    <div id="sf-colors">
    <h4>Color</h4>
    <ul>
        <li ng-repeat="c in BRUSH_COLORS" ng-class="{ selected: brushColor == c}"  ng-click="setBrushColor(c)" style="background-color: {{ c }};">&nbsp;</li>
    </ul>
    </div>
    <div class="actions">
        <button ng-click="save()" class="sf-save">Save</button>
        <button ng-click="undo()" class="sf-undo">Undo</button>
        <button ng-click="redo()" class="sf-redo">Redo</button>
        <button ng-click="del()" class="sf-del">Delete</button>
        <button ng-click="share()" class="sf-share-via-email">share via email</button>
    </div>
    <div class="Tools">
        <button ng-click="setTool('pencil')" class="set-tool pencil">Pencil</button>
        <button ng-click="setTool('eraser')" class="set-tool eraser">eraser</button>
        <button ng-click="setTool('fillTool')" class="set-tool eraser">fill</button>
    </div>

</div>
</nav>

